.images img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.images h2 {
    font-size: 20px;
}

section.service-sec {
    padding: 70px;
}

section.road-map {
    padding: 50px;
    text-align: center;
}